


<body id="loginPage">

<div >
    <h1 id="trueLiesFont">Welcome to ZARA - The Zombie Readiness App!</h1>

</div>

<%= flash[:message] %>
<h2 >Login Here:</h2>
<!-- <form method='post'>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input name='name'>
    <input type='submit' value='login'>
  </form> -->

  <!-- <%= form_tag ({controller: 'sessions', action: 'create', method: 'POST'}) do %> 
    <input name=name>

    <input type="submit" value="login">
    <%end%> -->
    <% if !session[:user_id] %>
    <%= form_tag '/login' do %>
        <p>Name: <%= text_field_tag :name %></p>
        <p>Password: <%= password_field_tag :password %></p>
        <%= submit_tag "Log In" %>
    <%end%>
    <br><br>
   
   <%= link_to "Sign Up!", new_user_path %> </h3>
    
    <%end%>

</body>
   