<h1>The Contingent of <%= @group.name %></h1>

<h2>Readiness Score: <%= @score %> </h2>
Members:
<ul>
<%@group.users.each do |member| %> 
<li>
    <%= link_to member.name, user_path(member) %>
</li>
    <%end%>
</ul>
<br />

<p><%= link_to "all groups", groups_path %></p>
<p><%= link_to "all humans", users_path %></p>
