<h1>Hi! I see that you're new here...</h1>
<h2>Create a profile below.</h2>
<br />
<div class="new user">
<%= form_with model: @user do |f| %>
<p><%= f.label :name %></p>
<br>(first and last, separated by a space)
<p><%= f.text_field :name %></p>
<br /><br />
<p><%= f.label :group %></p>
<p><%= f.collection_select(:group_id, Group.all, :id, :name) %></p>
<br /><br />
<p><%= f.submit "Create" %></p>
<% end %>
</div>