<h1>Hi, welcome to the apocolypse!</h1>
<h2>Identify yourself.</h2>
<br />
<div class="new user">
<%= form_for @user do |f| %>
<p><% f.label :name %>Your Name:</p>
<h5>(first and last, separated by a space)</h5>
<p><%= f.text_field :name %></p>
<br />
<p><% f.label :password %>Password: </p>
<p><%= f.password_field :password %></p>
<br />
<p><% f.label :group %>Join a Contingent:</p>
<p><%= f.collection_select(:group_id, Group.all, :id, :name) %></p>
<br />
<p><% f.label :weapon %>Select your weapon:</p>
<p><%= f.collection_select(:weapon_ids, @weapons, :id, :name) %></p>
<br />
<p><% f.label :weapon %>Select your supplies:</p>
<p><%= f.collection_check_boxes(:supply_ids, Supply.all, :id, :name) %></p>
<br /><br /> 


<p><%= f.submit "Create" %></p>
<% end %>
</div>