<h1><%= @user.name %></h1>
<% range = (1..14).to_a %>
<%=image_tag("test_#{range.sample}.png")%>


<h2>Contingent: <%= link_to "#{@user.group.name}", group_path(@user.group) %> </h2>

<% if session[:user_id] == @user.id %>
<h4><br>Weapons currently in posession:</h4>
<ul>
    <% @user.weapons.each do |weapon| %>
        <li><%= weapon.name %> (readiness: <%= weapon.readiness_value %>)</li><br>
    <% end %> 
</ul>

<h4>Supplies owned:</h4>
<ul>
    <% @user.owned_items.each do |owneditem| %> 
        <li> <%= owneditem.supply.name %> (readiness: <%= owneditem.supply.readiness_value %>)</li>
        <%= button_to 'Use Item', owned_item_path(owneditem), method: :delete %><br>
    <% end %> 
</ul>




<% end %> 
