<h1><%= @user.name %></h1>

<h2>Contingent: <%= link_to "#{@user.group.name}", group_path(@user.group) %> </h2>

<ul>
    <% @user.weapons.each do |weapon| %>
        <li><%= weapon.name %> <%= weapon.readiness_value %></li>
    <% end %> 
</ul>
<ul>
    <% @user.owned_items.each do |owneditem| %> 
        <li> <%= owneditem.supply.name %> <%= owneditem.supply.readiness_value %></li>
        <%= button_to 'Use Item', owned_item_path(owneditem), method: :delete %>
    <% end %> 
</ul>
